@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #141414;
    color: lime;
    text-shadow: 0 0 5px limegreen;
}
.container{
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.container h1{
    text-align: center;
}

#submit-area{    
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    margin-top:50px
}

#textinput{
    background-color: #272727;
    border: 2px solid rgba(0, 255, 0, 0.724);
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(50, 205, 50, 0.715);
    color: white;
    border-radius: 10px;
}

#textinput:hover{
    text-shadow: 0 0 5px white;
    background-color: #131313;
}

#next-btn{
    background-color: #272727;
    border: 2px solid rgba(0, 255, 0, 0.724);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#next-btn:hover{
    text-shadow: 0 0 10px white;
    background-color: #131313;
}

#text-input-desc{
    margin-bottom: 10px;
    font-size:20px;
}

#story p {
    padding: 10px;
    font-size: 20px;
}